:root {
  --text-color: #45403d;
  --hover-color: #ef921f;
  --bg-color: #e6e3dd;
  --white-color: #fff;
  --trs-300: 300ms ease;
  --trs-600: 600ms ease;
}

$desktop-xl: 2000px;
$desktop-lg: 1920px;
$desktop-md: 1440px;
$desktop-md-2: 1400px;
$desktop-sm: 1280px;
$tab: 1024px;
$tab-sm: 767px;
$pre-mob: 630px;
$mob: 500px;
